* {
  border: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
html, body {
  height: 100%; /* for sticky footer */ 
  position: absolute; /* Opera height trigger*/
  width: 100%;
}
body {
  background: url('../img/homepage-bg.png') repeat-y;
  background-position: 0 0;
  background-attachment: fixed;
  background-color: #000000;
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1em;
  color: #d99d9d;
}
p {
  font-size:1.2em;
  line-height:1.5em;
  letter-spacing: .02em;
  
}
#header {
  background: url('../img/header-bg.png') repeat-x;
  height: 95px;
  width: 100%;
  min-width: 800px;
  position: absolute;
}
.hwrap {
  width: 800px;
  margin: 0 auto;
  padding: 25px 15px 0;
  overflow: visible;
}
a.logo {
  background: url('../img/logo.png') no-repeat;
  width: 112px;
  height: 46px;
  display: block;
  float: left;
  margin-left:15px;
}
#nav {
  float: left;
  display: block;
  margin: 34px 0 0 30px;
}
#nav li {
  float: left;
  display: block;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 0px 1px 1px #8a2d26;
  font-size: 14px;
  color: #2e0505;
  margin-left: 70px;
}
#nav a {
  color: #2e0505;
  font-size: 1.3em;
}
#nav a:hover {
  color: #eee;
  text-shadow: 0px -1px 1px #000;
}
#content {
  position:relative;
  margin: 0 auto -130px;/*should be -115px */
  width: 800px;
  min-height: 100%;
  height: auto !important;
  height: 100%; /* For IE */
}
#clearheader {
  height: 95px;
}
#splash {
  width: 100%;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(5, 7, 7);
  /* RGBa with 0.6 opacity */
  background: rgba(50, 7, 7, 0.6);
  overflow: hidden;
}

.updates {
  width: 170px;
  padding: 25px 15px;
  float: left;
}
.slide {
  width:600px;
  float: left;
}
address {
  font: normal 1.2em Helvetica, sans-serif;
  line-height:1.5em;
  margin-bottom:20px;
}
.notice {
  margin-bottom:20px;
}
.notice h1 {
  font-size: 1.6em;
  margin: 15px 0 10px;
  color: #fff;
  font-weight: normal;
}


#footer {
  background: url('../img/footer-bg.png') repeat-x;
  height: 115px;
}
.fwrap {
  margin: 0 auto;
  width: 800px;
  margin-top: 15px;
}
.cta {
  float:left;
  font: normal 1.2em "Helvetica Neue", sans-serif;
  width:170px;
  padding: 15px;
}